<?xml version="1.0" encoding="utf-8"?>
<CONFIG>
  <FMain Edit2_Text="M_Min" Edit3_Text="Prato1" Edit4_Text="M_Max" Edit5_Text="Prato2" Edit6_Text="Paragem" Edit7_Text="Ciclo" Edit8_Text="-" Edit9_Text="-" Edit10_Text="V7" Edit11_Text="V4" Edit12_Text="V3" Edit13_Text="V2" Edit14_Text="V1" Edit15_Text="M_Pá" Edit16_Text="B_V5" Edit17_Text="Esq"/>
</CONFIG>
